/* #current_song {
    background-color: ;
    width: 100%;
    display: flex;
    .song {
      display: flex;
      width: 100%;
      gap: 10px;
      display: flex;
      height: 4.8em;
      margin: 10px;
      align-items: center;
      justify-content: space-between;
      cursor: default;
      @media (max-width: 576px) {
        flex-wrap: wrap;
        height: auto;
        audio::-webkit-media-control {
          width: 100%;
        }
      }
      img :{ 
        height: 100%;
        object-fit: cover;
        margin: 0 10px;
        border-radius: 5px;
        @media (max-width: 576px) {
          display: none;
        }
      }
      .description {
        flex-grow: 1;
      }
    }
  } */