#container0 { position: absolute;
             width: 1331.05px;
             height: 157.1px;
             left: -42.5px;
             top: -13.5px;
         
            background: #9AC6C5;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
          
            #logo {position: relative;
                   padding: 0%;
                justify-content: center;
            }


#barlateral { flex-direction: column;
              display: flex, 10px;
              display: flex, 10px;
              align-items: first baseline}

#header { position: absolute;
          width: 287px;
          height: 638px;
          left: 14px;
          top: 181px;
                /* height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between; */
        }

#container { width: 10px; 
            height: 10px; 
            background: black;
            margin: 2em;}

#tamaño {justify-content: center;}


#title { text-size-adjust: auto ;
         font: bold;
         text-align: center;
         justify-content: center;
          }

#container2 {  }

#container3 { flex-direction: column;
              align-items: center;
              justify-content: space-between; }